<!DOCTYPE html>

<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="Elastic-Inventory">

		<title>{{locale "site-title"}}</title>

		<link rel="icon" href="/images/elastic-inventory/favicon.png">
		<link rel="stylesheet" href="/styles/elastic-core/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/fonts/elastic-core/fontawesome/css/all.css">

		<script type="text/javascript" src="/scripts/elastic-core/jquery/jquery.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="/styles/elastic-core/bootstrap/js/bootstrap.bundle.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="/scripts/elastic-core/shared.js" charset="utf-8"></script>
		<script type="text/javascript" src="/libs/elastic-inventory/DynamicTable/Utility.js" charset="utf-8"></script>
		<script type="text/javascript" src="/libs/elastic-inventory/DynamicTable/DynamicTable.js" charset="utf-8"></script>

		<script type="text/javascript">
			{{{defaultjs}}}
		</script>
		
	</head>

	<body class="text-center">
		{{{body}}}
	</body>

</html>

