
{{{navigation}}}

<link rel="stylesheet" href="/libs/elastic-inventory/DynamicTable/DynamicTable.css">

<style type="text/css">

	html {
		min-height: 100%;
	}

		body {
			margin: 0;
			font-size: 0.95rem;
			font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
			color: #fff;
			padding: 0;
			padding-top: 50px;
			background: #1e1e1e;
		}

		* {
			outline: none !important; 
		}

			.jumbotron {
				background-color: #2d2d2f;
				padding: 30px;
				margin-bottom: 0rem !important;
				-webkit-box-shadow: 0px 0px 3px 0px #000;
				-moz-box-shadow: 0px 0px 3px 0px #000;
				box-shadow: 0px 0px 3px 0px #000;
				overflow: hidden;
			}

				.jumbotron ::-webkit-scrollbar {
					width: 12px;
					height: 16px;
				}

				.jumbotron ::-webkit-scrollbar-track {
					-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
					background-color: #333333;
					border-radius: 10px;
				}

				.jumbotron ::-webkit-scrollbar-thumb {
					border-radius: 10px;
					background-color: #1E1E1E;
					-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
				}

			.top-container {
				padding: 50px 40px 40px 40px;
			}

			.page-header {
				text-transform: uppercase;
				padding-top: 20px;
				font-weight: bold;
			}

				.page-header h1 {
					display: inline-block;
					font-size: 1.7vw;
					margin: 20px;
				}

				.page-header img {
					vertical-align: top;
				}

				.page-header .form-inline {
					margin: 20px;
				}	

	#version-banner {
		font-weight: bold;
		color: #55bbff;
		background-color: #1E1E1E;
		padding: 6px 15px 0px 15px;
		border-radius: 8px;
		border: 1px solid black;
		margin: auto;
		width: 300px;
		text-align: center;
		line-height: 40px;
	}
	  
</style>

<div class="container-fluid top-container">
            
	<div class="jumbotron">

		<div class="container-fluid">
			<h2 id="version-banner">Tier 2 Dashboard</h2>
		</div>

		<div id="test-table" class="dynamic-table">

			<div id="edit-button" class="btn btn-success support-input">Edit</div>
			<div id="add-button" class="btn btn-success support-input">Add</div>

			<script type="text/javascript">

				$(document).ready(function() {

					$.ajax({ 
						type: "POST", 
						url: "{{pages.apiGetMany.uri}}", 
						data: {
							"table" : 'Inventory',
							"columns" : ['id', 'data'],
							"where" : ["1=1", "[type] = 'gemstones'"],
							"range" : "",
							"order" : "",
							"limit" : 1000
						} 
					}).done(function(result) { 

						var records = [];

						for(var i = 0, len = result.message.length; i < len; i++) {

							var record = JSON.parse(result.message[i].data);

							record["Id"] = result.message[i].id;
							records.push(record);
						}

						var $dt = $('#test-table').dynamictable({
							perPageDefault: 5,
							records: records,
							idColumn: "Id",
							columnsIgnore: ["Id", "files"],
							exportsIgnore: ["Id", "files", "dynamictable-index"],
							orderColumns: ["Item"],
							hideColumnLabel: ["Item"],
							disableExpand: ["Item"],
							select: true,
							cells: [
								{
									column: "Item",
									render: function(settings, record, column, $td) {

										var $img;

										if(Object.keys(record.files).length > 0) {

											var small;

											for(var i = 0, len = record.files.length; i < len; i++) {

												var file = record.files[i];

												if(file.folder == "small-thumb") {
													
													small = file;

													break;
												}	
											}

											if(isNullOrEmpty(small) == false) {

												$img = $('<img />', {
													id: small.id,
													src: '{{pages.apiReturnFile.smallThumb}}' + small.id,
													alt: ''
												});

												$td.find('a').remove();
												$td.append($img);
											}

										} else {

											$img = $('<img />', {
												src: '/images/elastic-inventory/file-generic-icon-small-thumb.png',
												alt: ''
											});

											$td.find('a').remove();
											$td.append($img);
										}

										$img.css('margin', '0px');
										$img.css('padding', '0px');
										$img.css('max-width', '200px');
										$img.css('max-height', '200px');

										$td.width(200);
										$td.height(200);
									}
								}
							]

						}).data('dynamictable');	

						console.log($dt);

					}).fail(errorHandler);
				});

			</script>

		</div>
	</div>
</div>


