<style type="text/css">

body {
    margin: 0;
    font-size: 0.95rem;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #fff;
    background: #1e1e1e;
}

html {
    min-height: 100%;
}

#test-table {
	margin: 20px;
}

</style>

<main container>

	<div id="test-table" class="dynamic-table">

		<div id="edit-button" class="btn btn-success support-input">Edit</div>
		<div id="add-button" class="btn btn-success support-input">Add</div>

		<script type="text/javascript">

			$(document).ready(function() {

				$.ajax({ 
					type: "POST", 
					url: "{{pages.apiGetMany.uri}}", 
					data: {
						"table" : 'Inventory',
						"columns" : ['data'],
						"where" : ["1=1", "[type] = 'gemstones'"],
						"range" : "",
						"order" : "",
						"limit" : 1000
					} 
				}).done(function(result) { 

					var records = [];

					for(var i = 0, len = result.message.length; i < len; i++) {
						records.push(JSON.parse(result.message[i].data));
					}

					var $dt = $('#test-table').dynamictable({
						sorts: {"No." : 1},
						perPageDefault: 5,
						records: records,
						columnsIgnore: ["images"],
						exportsIgnore: ["images"],
						select: true,
						cells: {
							"Item": `
								$td.find("a").text(record[key]);
								$td.find("a").attr("href", "/View?id=" + record["No."]);
							`
						}
					}).data('dynamictable');	

					console.log($dt);

				}).fail(errorHandler);

			});

		</script>

	</div>

</main>
