
{{{navigation}}}

<link rel="stylesheet" href="/styles/elastic-inventory/Inventory.css">

<script type="text/javascript">
	{{{inventoryjs}}}
</script>

<div id="body-container" class="ui page grid">
	<div class="sixteen wide column">
		<h1 class="banner-text">{{typeLabel}}</h1>
		<div id="inventory-table" class="dynamic-table">
			<div id="add-edit-button" class="btn btn-success support-input">
				<i class="fa fa-pen">&nbsp;</i>
			</div>
		</div>
	</div>
</div>

<div id="imagebox_full">
	<img id="imagebox_full_image" class="black-back-text" src="#">
	<div id="imagebox_thumbs">	
		<img id="imagebox_thumb" class="imagebox_thumb black-back-text" data-id="#" src="#">
	</div>
	<span id="imagebox_close">&nbsp;</span>
</div>
