{{{ecmodals}}}

<div id="editor-item-modal" class="ui modal small">
	<div class="header">&nbsp;</div>
	<div class="content">
		<!--
		<ul class="message-list list-group">
			<li class="list-group-item d-flex justify-content-between align-items-center default-item">&nbsp;</li>
		</ul>
		-->
		<div id="editor-item-form" class="ui form"></div>
	</div>
	<div class="actions">
		<div class="ui black deny button">
			Cancel
		</div>
		<div class="ui positive right labeled icon button">
			Save
			<i class="checkmark icon"></i>
		</div>
	</div>
</div>
