<script type="text/javascript">
	{{{registerjs}}}
</script>

<link rel="stylesheet" href="/styles/elastic-inventory/Login.css">

<div class="ui middle aligned center aligned grid">
	<div class="column">
		<div class="ui content center">
			<img src="images/elastic-inventory/logo.png" width="150" height="150"/>
		</div>
		<h1 class="ui image header center banner-text">
			{{{locale "register-title"}}}
		</h1>
		<div id="register-message-list" class="message-list">
			<div class="ui red message default-item">&nbsp;</div>
		</div>
		<form class="ui large form">
			<div class="ui segment ei-colored">
				<div class="field">
					<div class="ui left icon input">
						<i class="user icon"></i>
						<input type="text" class="black-form-control" id="email" name="email" placeholder="E-mail address">
					</div>
				</div>
				<div class="field">
					<div class="ui left icon input">
						<i class="lock icon"></i>
						<input type="password" class="black-form-control" id="password" name="password" placeholder="Password">
					</div>
				</div>
				<div class="field">
					<div class="ui left icon input">
						<i class="lock icon"></i>
						<input type="password" class="black-form-control" id="confirm" name="confirm" placeholder="Confirm Password">
					</div>
				</div>
				<div id="register-submit-button" class="ui fluid medium blue submit button">{{{locale "register-button"}}}</div>
			</div>
		</form>
		<div class="ui message">
			<a href="{{{pages.getLogin.uri}}}">Want to login?</a>
		</div>
	</div>
</div>

