<script type="text/javascript" src="/libs/gloowm/identicon/pnglib.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/gloowm/identicon/identicon.js" charset="utf-8"></script>

<script type="text/javascript">
	{{{viewjs}}}
</script>

<div id="verify-window" class="modal modal--flat">
	<div class="modal-container">
		<div class="modal-body">
			<ul id="verify-message" class="message-list"><li class="default-item">&nbsp;</li></ul>
			<input id="verify-pin" type="text" class="panel" placeholder="PIN CODE" value="" />
			<button id="verify-cancel" class="-error close-window">Cancel</button>
			<button id="verify-ok" class="-error close-window">Ok</button>
			<button id="verify-submit" class="-success">Verify</button>
		</div>
	</div>
</div>

<main container>
	<div class="view-post" grid>
		<div column="10 +1" class="portfolio-item">
			{{{content}}}
		</div>
	</div>

	<div id="comment-area" grid>

		<div column="8 +2">
		       
			<div class="comment-panel">

				<div grid="">
					<div column="12">
						<textarea id="comment-text" name="comment" class="panel" placeholder="COMMENT..."></textarea>
					</div>
				</div>

				<div grid="">
					<div column="5">
						<input type="text" id="comment-name" name="email-address" placeholder="NAME" value="" />
					</div>

					<div column="5">
						<input type="text" id="comment-email" name="email-address" placeholder="EMAIL" value="" />
					</div>

					<div column="2" class="_text-right">
						<button id="comment-submit" class="-success">OK</button>
					</div>
				</div>
			</div>

			<div id="comment-items">

				<div id="default-comment-item" class="portfolio-item comment-item" data-id="#">

					<img class="comment-image" src="" width="60" height="60">

					<div class="comment-block">

						<p>
							<b>NAME</b>
							<i>WHEN</i>
						</p>

						<p>COMMENT</p>
					</div>

				</div>

			</div>

			<div grid>
				<div id="more-item" class="_text-center portfolio-item-button portfolio-item" column="12">
					<p>VIEW COMMENTS</p>
				</div>
			</div>
		</div>
	</div>

</main>
